<a href="https://colab.research.google.com/github/Rohanrathod7/my-ds-labs/blob/main/16_Working_with_Categorical_Data_in_Python/02_Categorical_pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd

In [3]:
url = "https://raw.githubusercontent.com/Rohanrathod7/my-ds-labs/main/16_Working_with_Categorical_Data_in_Python/dataset/adult.csv"
adult = pd.read_csv(url)
display(adult.head())

,Age,Workclass,fnlgwt,Education,Education Num,Marital Status,Occupation,Relationship,Race,Sex,Capital Gain,Capital Loss,Hours/Week,Country,Above/Below 50k
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

**Exploring a target variable**  
You have been asked to build a machine learning model to predict whether or not a person makes over $50,000 in a year. To understand the target variable, Above/Below 50k, you decide to explore the variable in more detail.

The Python package pandas will be used throughout this course and will be loaded as pd throughout. The adult census income dataset, adult, has also been preloaded for you.

In [4]:
# Explore the Above/Below 50k variable
print(adult["Above/Below 50k"].describe())

# Print a frequency table of "Above/Below 50k"
print(adult["Above/Below 50k"].value_counts())

# Print relative frequency values
print(adult["Above/Below 50k"].value_counts(normalize=True))


#  Above/Below 50k is a categorical variable with only two categories. Using both
#  the .describe() and .value_counts() methods you can see that the dataset is a
#  little imbalanced towards people making less than $50,000.

count      32561
unique         2
top        <=50K
freq       24720
Name: Above/Below 50k, dtype: object
Above/Below 50k
<=50K    24720
>50K      7841
Name: count, dtype: int64
Above/Below 50k
<=50K    0.75919
>50K     0.24081
Name: proportion, dtype: float64

**Setting dtypes and saving memory**  
A colleague of yours is exploring a list of occupations and how they relate to salary. She has given you a list of these occupations, list_of_occupations, and has a few simple questions such as "How many different titles are there?" and "Which position is the most common?".

In [6]:
list_of_occupations = ['Data Scientist', 'Data Analyst', 'Data Scientist', 'Statistician', 'Data Scientist', 'Data Scientist', 'Statistician', 'Data Scientist', 'Data Analyst', 'Data Analyst', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Analyst', 'Data Scientist', 'Data Scientist', 'Data Analyst', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Analyst', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Analyst', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Statistician', 'Data Analyst', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Analyst', 'Data Scientist', 'Data Scientist', 'Data Analyst', 'Data Scientist', 'Data Scientist', 'Data Analyst', 'Data Analyst', 'Data Scientist', 'Data Analyst', 'Data Scientist', 'Statistician', 'Data Scientist', 'Data Scientist', 'Statistician', 'Data Scientist', 'Data Scientist', 'Statistician', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Statistician', 'Statistician', 'Data Analyst', 'Data Analyst', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Statistician', 'Statistician', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Analyst', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Analyst', 'Statistician', 'Data Analyst', 'Data Scientist', 'Data Analyst', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Data Scientist', 'Statistician', 'Data Scientist', 'Data Scientist', 'Data Analyst', 'Data Analyst', 'Data Analyst', 'Data Scientist']

# Create a Series, default dtype
series1 = pd.Series(list_of_occupations)

# Print out the data type and number of bytes for series1
print("series1 data type:", series1.dtype)
print("series1 number of bytes:", series1.nbytes)

# Create a Series, "category" dtype
series2 = pd.Series(list_of_occupations, dtype="category")

# Print out the data type and number of bytes for series2
print("series2 data type:", series2.dtype)
print("series2 number of bytes:", series2.nbytes)

# Did you notice the memory savings when you used the dtype "category"? Take a
# look. It was a 7.5x decrease in memory

series1 data type: object
series1 number of bytes: 816
series2 data type: category
series2 number of bytes: 126

**Creating a categorical pandas Series**  
Another colleague at work has collected information on the number of "Gold", "Silver", and "Bronze" medals won by the USA at the Summer & Winter Olympics since 1896. She has provided this as a list, medals_won. Before taking a look at the total number of each medal won, you want to create a categorical pandas Series. However, you know that these medals have a specific order to them and that Gold is better than Silver, but Silver is better than Bronze. Use the object, medals_won, to help.

In [7]:
medals_won  = ['Silver', 'Silver', 'Bronze', 'Silver', 'Gold', 'Silver', 'Silver', 'Gold', 'Gold', 'Bronze', 'Bronze', 'Gold', 'Silver', 'Silver', 'Silver', 'Gold', 'Gold', 'Bronze', 'Silver', 'Gold', 'Bronze', 'Gold', 'Silver', 'Silver', 'Silver', 'Bronze', 'Gold', 'Gold', 'Silver', 'Gold', 'Silver', 'Silver', 'Silver', 'Gold', 'Gold', 'Silver', 'Silver', 'Silver', 'Silver', 'Silver', 'Gold', 'Gold', 'Gold', 'Silver', 'Silver', 'Gold', 'Gold', 'Gold', 'Silver', 'Bronze', 'Silver', 'Silver', 'Gold', 'Silver', 'Bronze', 'Silver', 'Bronze', 'Bronze', 'Gold', 'Silver', 'Gold', 'Bronze', 'Gold', 'Bronze', 'Bronze', 'Gold', 'Gold', 'Gold', 'Gold', 'Silver', 'Silver', 'Bronze', 'Gold', 'Silver', 'Gold', 'Bronze', 'Silver', 'Silver', 'Gold', 'Silver', 'Silver', 'Silver', 'Bronze', 'Gold', 'Gold', 'Gold', 'Silver', 'Silver', 'Bronze', 'Bronze', 'Gold', 'Bronze', 'Silver', 'Silver', 'Silver', 'Silver', 'Gold', 'Bronze', 'Bronze', 'Gold', 'Gold', 'Gold', 'Silver', 'Silver', 'Bronze', 'Bronze', 'Gold', 'Silver', 'Gold', 'Bronze', 'Bronze', 'Silver', 'Gold', 'Silver', 'Silver', 'Gold', 'Silver', 'Gold', 'Bronze', 'Silver', 'Gold', 'Silver', 'Gold', 'Silver', 'Bronze', 'Silver', 'Bronze', 'Gold', 'Gold', 'Gold', 'Silver', 'Bronze', 'Silver', 'Bronze', 'Gold', 'Silver', 'Gold', 'Bronze', 'Gold', 'Silver', 'Gold', 'Silver', 'Bronze', 'Silver', 'Gold', 'Gold', 'Silver', 'Gold', 'Gold', 'Silver', 'Bronze', 'Gold', 'Silver', 'Silver', 'Gold', 'Gold', 'Bronze', 'Silver', 'Silver', 'Bronze', 'Bronze', 'Gold', 'Gold', 'Silver', 'Bronze', 'Gold', 'Gold', 'Bronze', 'Silver', 'Gold', 'Silver', 'Gold', 'Gold', 'Silver', 'Silver', 'Bronze', 'Gold', 'Gold', 'Gold', 'Silver', 'Gold', 'Silver', 'Silver', 'Gold', 'Gold', 'Gold', 'Bronze', 'Bronze', 'Silver', 'Bronze', 'Gold', 'Gold', 'Bronze', 'Silver', 'Silver', 'Gold', 'Silver', 'Bronze', 'Bronze', 'Bronze', 'Bronze', 'Gold', 'Gold', 'Gold', 'Silver', 'Silver', 'Bronze', 'Gold', 'Bronze', 'Gold', 'Gold', 'Silver', 'Gold', 'Bronze', 'Bronze', 'Silver', 'Gold', 'Gold', 'Gold', 'Silver', 'Gold', 'Bronze', 'Gold', 'Gold', 'Silver', 'Bronze', 'Gold', 'Bronze', 'Gold', 'Gold', 'Bronze', 'Bronze', 'Silver', 'Bronze', 'Gold', 'Silver', 'Gold', 'Gold', 'Gold', 'Bronze', 'Gold', 'Silver', 'Gold', 'Silver', 'Silver', 'Bronze', 'Gold', 'Bronze', 'Silver', 'Silver', 'Silver', 'Bronze', 'Gold', 'Bronze', 'Gold', 'Gold', 'Silver', 'Bronze', 'Bronze', 'Bronze', 'Bronze', 'Bronze', 'Silver', 'Bronze', 'Gold', 'Silver', 'Gold', 'Gold']

# Create a categorical Series and specify the categories (let pandas know the order matters!)
medals = pd.Categorical(medals_won, categories=['Bronze', 'Silver', 'Gold'], ordered=True)
print(medals)

# pd.Categorical() is a great way to create a Series and specify both the categories
#  and whether or not the order of these categories is important.

['Silver', 'Silver', 'Bronze', 'Silver', 'Gold', ..., 'Bronze', 'Gold', 'Silver', 'Gold', 'Gold']
Length: 268
Categories (3, object): ['Bronze' < 'Silver' < 'Gold']

  **Setting dtype when reading data**  
You are preparing to create a machine learning model to predict a person's income category using the adult census income dataset. You don't have access to any cloud resources and you want to make sure that your laptop will be able to load the full dataset and process its contents. You have read in the first five rows of the dataset adult to help you understand what kind of columns are available.

In [9]:
# Check the dtypes
print(adult.dtypes)

# Create a dictionary with column names as keys and "category" as values
adult_dtypes = {
   "Workclass": "category",
   "Education": "category",
   "Relationship": "category",
   "Above/Below 50k": "category"
}

# Read in the CSV using the dtypes parameter
adult2 = pd.read_csv(
  url,
  dtype=adult_dtypes
)
print(adult2.dtypes)

# Using the categorical dtype is a great way to save memory and boost performance.
#  Specifying the dtypes will lower the amount of memory required to load your dataset.
#  This is quite helpful when dealing with large datasets!

Age                 int64
Workclass          object
fnlgwt              int64
Education          object
Education Num       int64
Marital Status     object
Occupation         object
Relationship       object
Race               object
Sex                object
Capital Gain        int64
Capital Loss        int64
Hours/Week          int64
Country            object
Above/Below 50k    object
dtype: object
Age                   int64
Workclass          category
fnlgwt                int64
Education          category
Education Num         int64
Marital Status       object
Occupation           object
Relationship       category
Race                 object
Sex                  object
Capital Gain          int64
Capital Loss          int64
Hours/Week            int64
Country              object
Above/Below 50k    category
dtype: object

**Setting up a .groupby() statement**  
The gender wage gap is a hot-topic item in the United States and across the world. Using the adult census income dataset, loaded as adult, you want to check if some of the recently published data lines up with this income survey.

In [12]:
# Group the adult dataset by "Sex" and "Above/Below 50k"
gb = adult.groupby(by=["Sex", "Above/Below 50k"])

# Print out how many rows are in each created group
print(gb.size())

# Print out the mean of each group for all columns
print(gb.mean(numeric_only=True))

# It does look like the proportion of women making more than 50k is a lot lower
# than men. However, women making more than 50k are on average younger than their male counterparts.

Sex     Above/Below 50k
Female  <=50K               9592
        >50K                1179
Male    <=50K              15128
        >50K                6662
dtype: int64
                              Age         fnlgwt  Education Num  Capital Gain  \
Sex    Above/Below 50k
Female <=50K            36.210801  185999.381359       9.820475    121.986134
       >50K             42.125530  183687.406277      11.787108   4200.389313
Male   <=50K            37.147012  193093.609268       9.452142    165.723823
       >50K             44.625788  188769.101321      11.580606   3971.765836

                        Capital Loss  Hours/Week
Sex    Above/Below 50k
Female <=50K               47.364470   35.916701
       >50K               173.648855   40.426633
Male   <=50K               56.806782   40.693879
       >50K               198.780396   46.366106

**Using pandas functions effectively**  
You are creating a Python application that will calculate summary statistics based on user-selected variables. The complete dataset is quite large. For now, you are setting up your code using part of the dataset, preloaded as adult. As you create a reusable process, make sure you are thinking through the most efficient way to setup the GroupBy object.

In [13]:
# Create a list of user-selected variables
user_list = ["Education", "Above/Below 50k"]

# Create a GroupBy object using this list
gb = adult.groupby(by=user_list)

# Find the mean for the variable "Hours/Week" for each group - Be efficient!
print(gb["Hours/Week"].mean())

# You just finished Chapter 1. People earning more than $50,000 tend to work a lot
# more hours, regardless of their education, than people earning less than $50,000.
# Remember, it's important to select your variables before calling a function. Large
# datatsets might have problems calculating the mean of every numerical column.

Education     Above/Below 50k
10th          <=50K              36.574053
              >50K               43.774194
11th          <=50K              33.322870
              >50K               45.133333
12th          <=50K              35.035000
              >50K               44.818182
1st-4th       <=50K              37.864198
              >50K               48.833333
5th-6th       <=50K              38.539432
              >50K               46.000000
7th-8th       <=50K              38.830033
              >50K               47.500000
9th           <=50K              37.667351
              >50K               44.851852
Assoc-acdm    <=50K              39.264339
              >50K               44.256604
Assoc-voc     <=50K              40.817826
              >50K               43.853186
Bachelors     <=50K              40.586152
              >50K               45.475462
Doctorate     <=50K              45.429907
              >50K               47.513072
HS-grad       <=50K              39.727510
              >50K               45.042985
Masters       <=50K              41.223822
              >50K               45.917623
Preschool     <=50K              36.647059
Prof-school   <=50K              42.816993
              >50K               49.092199
Some-college  <=50K              37.450203
              >50K               44.820476
Name: Hours/Week, dtype: float64